In [1]:
def read_file(input_path):
    with open(input_path) as f:
        data = f.readlines()
    return data

data = read_file("input")[0]
data = data.replace("\n", "")
data = data.split(",")
for r in data:
    start = r.split("-")[0]
    end = r.split("-")[1]
    print(start, end)

245284 286195
797927 983972
4949410945 4949555758
115 282
8266093206 8266228431
1 21
483873 655838
419252 466133
6190 13590
3876510 4037577
9946738680 9946889090
99954692 100029290
2398820 2469257
142130432 142157371
9797879567 9798085531
209853 240025
85618 110471
35694994 35766376
4395291 4476150
33658388 33694159
680915 772910
4973452995 4973630970
52 104
984439 1009605
19489345 19604283
22 42
154149 204168
7651663 7807184
287903 402052
2244 5558
587557762 587611332
307 1038
16266 85176
422394377 422468141

## Task 1

In [46]:
inputs = [
    '11-22',
    '95-115',
    '998-1012',
    '1188511880-1188511890',
    '222220-222224',
    '1698522-1698528',
    '446443-446449',
    '38593856-38593862',
    '565653-565659',
    '824824821-824824827',
    '2121212118-2121212124'
]

invalid_ids = []
for r in inputs:
    start = r.split("-")[0]
    end = r.split("-")[1]
    
    # Remove odd numbers
    if len(start) % 2:
        start = "1"+len(start)*"0"
    if len(end) % 2:
        end = "9"*(len(end)-1)
    
    for value in range(int(start), int(end)):
        value = str(value)
        midpoint = len(str(value))//2
        flag = True
        for i in range(midpoint):
            if value[i] != value[midpoint+i]:
                flag = False
                break
        if flag:
            invalid_ids.append(value)

print(invalid_ids)

['11', '1010', '1188511885', '222222', '446446', '38593859']

## Task 2

In [45]:

invalid_ids = []
for r in inputs:
    start = r.split("-")[0]
    end = r.split("-")[1]
    print(start, end)
    
    for value in range(int(start), int(end)):
        value = str(value)
        l = len(value)
        
        c = l
        while c > 1:
            if l % c == 0:
                d = l//c
                if value == c * value[:d]:
                    invalid_ids.append(value)
            c -=1
        
            
        

print(invalid_ids)

11 22
95 115
998 1012
['11', '99', '111', '999', '1010']

c 4
d 1
c 2
d 2
1010
2
1010
yup 1010